div{
  border: 1px solid black;
  height: 100px;
  width: 300px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 1;
}

#box6{
  order: 0;
}

body{
  display: flex;
}